<p id="notice"><%= notice %></p>

<h1>Listing Biodata</h1>

<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th>Ttl</th>
      <th>Alamat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @biodata.each do |biodatum| %>
      <tr>
        <td><%= biodatum.nama %></td>
        <td><%= biodatum.ttl %></td>
        <td><%= biodatum.alamat %></td>
        <td><%= link_to 'Show', biodatum %></td>
        <td><%= link_to 'Edit', edit_biodatum_path(biodatum) %></td>
        <td><%= link_to 'Destroy', biodatum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Biodatum', new_biodatum_path %>
